# Dependências
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Produção
build/

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Debug do Firebase
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*

# Sistema
.DS_Store
Thumbs.db
